
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

#top-left-list {
    padding-top: 35px;
    list-style-type: none;
}
#top-left-list li {
    float: left;
    padding: 8px;
    
    font-family: "Roboto";
    font-size: 18px;
}

#top-right-list {
    padding-top: -10px;
    list-style-type: none;
}
#top-right-list li {
    float: right;
    padding: 8px;  
    font-family: "Roboto";
    font-size: 18px;
    
}
#appsimage {
    max-height: 20px;
    max-width: 20px;
    padding-top: 1px;
}
button {
    width: 75px;
    height: 30px;
    background-color: #4285F4;
    color: white;
    font-family: "Open Sans";
    
    
}

#google-image {
    max-width: 450px;
    max-height: 250px;
    
    
    
}
#search-field {
    border-radius: 15px;
    height: 35px;
    width: 50em;
}
#search-bar {
    padding-left: 41em;
    padding-top: 17em;
    position:absolute;
}

#google-logo {
    padding-left: 50em;
    padding-top: 3em;
    position: absolute;
}
    
    
    
    
    
    
