
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

#top-left-list {
    padding-top: 0px;
    list-style-type: none;
    position: absolute;
}
#top-left-list li {
    float: left;
    padding: 8px;
    
    font-family: "Roboto";
    font-size: 18px;
}

#top-right-list {
    padding-top: 15px;
    list-style-type: none;
    
    
}
#top-right-list li {
    float: right;
    padding: 8px;  
    font-family: "Roboto";
    font-size: 18px;
    
}
#appsimage {
    max-height: 20px;
    max-width: 20px;
    padding-top: 1px;
}
ul li button {
    width: 75px;
    height: 30px;
    background-color: #4285F4;
    color: white;
    font-family: "Open Sans";
    
    
}

#google-image {
    max-width: 450px;
    max-height: 250px;
    
    
    
}
#search-field {
    border-radius: 20px;
    height: 42px;
    width: 50em;
}
#search-bar {
    padding-left: 41em;
    padding-top: 17em;
    position:absolute;
}

#google-logo {
    padding-left: 50em;
    padding-top: 3em;
    position: absolute;
}

#search-icon {
    width: 20px;
    position: absolute;
    padding-top: 17.8em;
    padding-left: 42em;
    z-index: 1;
}
#google-search-button {
  border: none;
  padding: 0;
  background: none;
  background-color: rgb(210, 216, 216);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 15px;
  position: absolute;
  
}
.under-search {
    padding-top: 22em;
    padding-left: 52em;
}

#im-feeling-lucky {
    border: none;
    padding: 0;
    background: none;
    background-color: rgb(210, 216, 216);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 15px;
    position: absolute;
}

.under-search2 {
    padding-left: 62em;

}
/*h3 {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
}
#advertising {
    position: absolute;
    padding-top: 20.5em;
    padding-left: 1em;
}
#business {
    position: absolute;
    padding-top: 20.5em;
    padding-left: 9em;
}
#about {
    position: absolute;
    padding-top: 20.5em;
    padding-left: 16em;
}
#how-search-works {
    position: absolute;
    padding-top: 20.5em;
    padding-left: 21em;
}
 .rectangle {
     height: 50px;
     width: 100px;
     background-color: #555;
     position:absolute;
     
 }
    */
    
    
    
    
